#AddProductMain{
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 50px;
  padding-left: 5%;
  #title{
    text-align: center;
  }

  p:before{
    content: "*";
    color:red;
    margin-right:5px;
  }

  p:after{
    content:":"
  }

  input{
    width: 90%;
    display:block;
  }

  button{
    margin-top: 25px;
    height: 30px;
    width: auto;
    border-radius:5px;
    background-color:cornflowerblue;
  }
}

#AddProduct{
  background:lightgrey;
  padding-bottom: 50px;
}