#HeaderList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  li {
    float: left;
  }
  li a:hover {
    background-color:dodgerblue;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #iconImage{
    height: 25px;
    width:25px;
    display:inline;
  }
}