#Orders{
  background-color: lightgrey;
  main{
    margin: 1%;
    background-color: white;
  }


  padding-bottom: 3%;

  table{
    td,th{
      padding-right: 250px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: lightgrey;
    }
    border-collapse:collapse
  }

  button{
    height: 25px;
    border-radius:10px;
    color: red;
  }
}

#OrderRoll{
  border-bottom: 1pt solid lightgrey;
}

#tableHeader{
  background-color:ghostwhite;

  p{
    display: inline-block;
    margin-right: 230px;
  }
  p:last-child{
    margin-left: 40px;
    margin-right:0;
  }
}

#NoOrderMessage{
  text-align: center;
}