
#productCard{
  height: auto;
  width: 200px;
  border-radius: 10px;
  border-width: 1px;
  border-color: lightgrey;
  border-style: solid;
  display: inline-block;
  margin:10px;

  img{
    width: 100%;
    height: 250px;
  }

  button{
    float:right;
    border-radius: 100%;
    vertical-align: bottom;
    margin-bottom: 3%;
  }
}